/* body{
    background-repeat: no-repeat;
    background-size: 100%;
} */
main {
    margin-top: 250px;
}

h2{
    font-size: 36px;
}


nav{
    position: relative;
    
}

.Pro-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.Pro-info img{
    width:180px;
}


.quantity {
    background: linear-gradient(45deg, #000 0%, #272727 80%);
    color: #fff !important;
    border: none;
    border-radius: 25px;
}

@media screen and (max-width:686px){
    .products{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .Pro-info img{
        width: 50px;
    }
    .Pro-info {
        flex-wrap: wrap;
        flex-direction: column;
    }
}
footer .sub-foot a{
    color: #333;
}