/*Start Main Rules */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  transition: all 0.5s ease;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #000;
}

.btn:hover a {
  color: #000;
}

:root {
  --section-padding: 50px 0;
}

body {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(76, 76, 76, 1) 47%,
    rgba(11, 11, 11, 1) 100%
  );
}

:not(body) #rootReactVNB {
  display: none !important;
}

/* Loading screen */
.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  background: rgb(255, 255, 255);
  background: linear-gradient(180deg, rgba(0,0,0,1) 44%, rgba(50,50,50,1) 96%, rgba(61,61,61,1) 99%, rgba(76,76,76,1) 100%);
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 1;
}

.loading .spinner {
  width: 15%;
  opacity: 1;
}
body {
  overflow: hidden;
}

.loading button {
  text-decoration: underline;
  font-size: 20px;
}

@media screen and (max-width: 680px) {
  .loading .spinner {
    width: 80%;
  }
}
/*End Main Rules */
/* Header */
/* Navbar */
nav {
  width: 100%;
  height: auto;
  padding: 10px 0;
  z-index: 998;
}

nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .logo {
  width: 7%;
}



nav .links {
  justify-content: center;
}

nav .nav-links {
  display: flex;
  align-items: center;
  justify-content: center;
}

nav .nav-links li {
  list-style: none;
  margin-right: 15px;
}

nav .nav-links a {
  color: #fff;
  text-decoration: none;
}

nav .nav-links li:hover a {
  text-decoration: underline;
}

.hero {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero h1 {
  font-size: 40px;
  font-weight: 300;
}

.hero h1 span {
  color: rgb(255, 69, 69);
  font-weight: 800;
}

.hero button {
  width: 250px;
}

.hero button a {
  text-decoration: none;
  color: #fff;
}

.hero button:hover a {
  color: #000;
}

.swiper-container {
  width: 100%;
  height: 80vh;
}

.swiper-slide {
  text-align: center;
  font-size: 26px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.Welcome {
  position: absolute;
  top: 50%;
  color: #00000055;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Welcome h1 {
  font-size: 50px;
}

.swiper-slide img,
.swiper-slide video {
  width: 100%;
  object-fit: cover;
}

.swiper-pagination {
  position: absolute;
  top: 50%;
}

/* Small Slider */
.small-slider {
  border-bottom: 1px solid #444;
  border-top: 1px solid #fff;
  color: #fff;
  width: 100%;
  padding: 20px;
  text-align: center;
  position: relative;
  /* background: rgb(53, 52, 52); */
  background: transparent;
}

/* header Responsive */
@media screen and (max-width: 776px) {
  nav {
    padding: 10px 0;
  }

  nav .logo {
    width: 40%;
  }

  .hero {
    height: 170px;
    margin-top: 150px;
  }

  .hero h1 {
    font-size: 20px;
  }

  .hero button {
    width: 100px;
  }

  .video {
    display: none;
  }
}

/* Latest Product */
.latest-product {
  padding: var(--section-padding);
}

.latest-product h2 {
  margin-bottom: 20px;
}

.latest-product .card {
  border: none;
  color: #000;
  background-color: transparent;
  overflow: hidden;
  position: relative;
}

.latest-product .card h4 {
  font-weight: 500;
}

.latest-product .card h5 {
  font-weight: 800;
  color: rgba(255, 249, 249, 0.5);
}

.latest-product .card img {
  transition: all 0.5s ease;
}

.latest-product .p1 {
  position: absolute;
  z-index: 2;
}

.latest-product.p2 {
  position: relative;
  z-index: -1;
}

.latest-product .p1:hover {
  opacity: 0;
  transform: scale(1.03);
}

.latest-product .p3 {
  position: absolute;
  z-index: 2;
}

.latest-product .p4 {
  position: relative;
  z-index: -1;
}

.latest-product .p3:hover {
  opacity: 0;
  transform: scale(1.03);
}

/* latest Responsive */
@media (max-width: 767px) {
  .latest-product .col-md-4,
  .latest-product .col-md-3 {
    margin-bottom: 35px;
    width: 50%;
  }
  .latest-product .row {
    justify-content: center;
  }
  .latest-product .card {
    width: 90%;
    margin: auto;
  }
  .latest-product .card h4 {
    font-size: 20px;
    font-weight: 300;
  }
  .latest-product h5 {
    font-size: 18px;
  }
  .latest-product .shopBtn {
    padding: 3px;
  }
}

/* Contact */
.about .form-control {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    85deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(76, 76, 76, 1) 63%
  );
  color: #fff;
  border: none;
  margin: 20px 0;
}

.about {
  text-align: center;
}

.about h3 {
  font-size: 40px;
  font-weight: 800;
}

.about p {
  font-size: 22px;
  font-weight: 700;
}

.about .show-contact {
  display: none;
}

.about .show-contact a {
  color: #fff;
}

/* video Responsive */
@media screen and (max-width: 776px) {
  .about h3 {
    font-size: 20px;
  }

  .about p {
    font-size: 16px;
    font-weight: 400;
  }
}

@media screen and (max-width: 686px) {
  .about .row {
    display: none;
  }

  .about .show-contact {
    display: inline-block;
  }
}

/* Footer */
footer {
  padding: 50px 0;
  position: relative;
}

footer li {
  list-style-type: none;
  margin-bottom: 20px;
  position: relative;
}

footer li a {
  color: #fff;
  text-decoration: none;
  font-size: 24px;
  font-weight: 700;
}

footer li a:hover {
  color: #fff;
}

footer li a::after {
  content: "";
  position: absolute;
  width: 50%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

footer li a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

footer .sub-foot {
  width: 100%;
  position: absolute;
  bottom: 0;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
footer .sub-foot a {
  color: #333;
}
