/*Start Main Rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    transition: all 0.5s ease;
}

:root {
    --section-padding: 100px 0;
}

body {
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(76, 76, 76, 1) 47%, rgba(11, 11, 11, 1) 100%);
}

/* Loading screen */
.loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 999;
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(76, 76, 76, 1) 47%, rgba(11, 11, 11, 1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
}

.loading .spinner {
    width: 70%;
    opacity: 1;
}
/*End Main Rules */
/* Header */
/* Navbar */
nav {
    width: 100%;
    height: auto;
    top: 0px;
    padding: 10px 0 ;
    z-index: 998;
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo {
    width: 7%;
}

nav .links {
    justify-content: center;
}

nav .nav-links {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav .nav-links li {
    list-style: none;
    margin-right: 15px;
}

nav .nav-links a {
    color: #fff;
    text-decoration: none;
}

nav .nav-links li:hover a {
    text-decoration: underline;
}

/* header Responsive */
@media screen and (max-width:776px) {
    nav{
        padding: 10px 0 ;
    }
    nav .logo {
        width: 40%;
    }
    
}

/* product */


.col-md-6 .image img{
    width: 70%;
    transition: all ease 0.5s;
    transform-origin: center;
    object-fit: cover;
    margin: auto;
}

.col-md-6 .img-slider{
    width: 80%;
}
.col-md-6 .img-slider img{
    width: 44.5%;
    padding: 10px 10px 10px 0;
}

.info .quantity{
    background: linear-gradient(45deg ,#000 0%,#272727 80%);
    color: #fff;
    border: none;
}
@media screen and (max-width:686px){
    main{
        margin-top: 250px;
    }
    .col-md-6 .image img{
        width: 100%;
        border-radius: 10px;
    }
    .col-md-6 .image{
        margin-bottom: 20px;
    }

    .col-md-6 .img-slider img{
        width: 32%;
    }

    .info{
        margin-bottom: 20px;
        position: relative;
    }
    
    .info::after{
        content: "";
        width: 100%;
        height: 1px;
        background-color: #fff;
        position: absolute;
        left: 0;
        bottom: -50px;
    }

    .accordion img{
        width: 80%;
    }
}
.alert{
    margin-top: 20px;
    display: none;
}
.accordion-item,
.accordion-button{
    border: none !important;
    color: #fff;
}

/* Footer */
footer {
    padding: 50px 0;
    position: relative;
}

footer li {
    list-style-type: none;
    margin-bottom: 20px;
    position: relative;
}

footer li a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    font-weight: 700;
}

footer li a:hover {
    color: #fff;
}

footer li a::after {
    content: '';
    position: absolute;
    width: 50%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

footer li a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

footer .sub-foot {
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
footer .sub-foot a{
    color: #333;
}